/* Category.css */

.container {
  padding: 20px;
  background: linear-gradient(135deg, #1e1e1e, #333);
  border-radius: 10px;
  color: #fff;
  max-width: 800px; /* Set a max-width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 2em;
  color: #00DDFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-container {
  margin: 0 auto; /* Center the form container horizontally */
  max-width: 600px; /* Set a max-width for the form container */
  padding: 20px; /* Add some padding for better spacing */
  background: rgba(255, 255, 255, 0.1); /* Slightly lighter background for the form */
  border-radius: 10px; /* Rounded corners for the form */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #222;
  color: #fff;
}

.form-input:focus {
  border-color: #00DDFF;
  outline: none;
}

.submit-button, .edit-button, .delete-button, .cancel-button {
  background: #00DDFF;
  color: #fff;
  border: none;
  padding: 6px 12px; /* Smaller padding for smaller buttons */
  border-radius: 5px;
  font-size: 0.9em; /* Smaller font size */
  cursor: pointer;
  margin: 2px; /* Space between buttons */
}

.submit-button:hover, .edit-button:hover, .delete-button:hover, .cancel-button:hover {
  background: #00DDFF;
}

.table-container {
  margin-top: 20px;
}

.projects-table {
  width: 100%;
  border-collapse: collapse;
}

.projects-table th, .projects-table td {
  padding: 10px;
  text-align: left;
}

.projects-table th {
  background: #333;
  color: #00DDFF;
}

.projects-table tr:nth-child(even) {
  background: #1e1e1e;
}

.projects-table tr:nth-child(odd) {
  background: #2c2c2c;
}

.projects-table td {
  color: #ccc;
}

.table-actions {
  display: flex;
  justify-content: space-between; /* Space out the buttons evenly */
  align-items: center; /* Center buttons vertically */
}

.table-actions button {
  background: #00DDFF;
  color: #fff;
  border: none;
  padding: 6px 12px; /* Smaller padding for smaller buttons */
  border-radius: 5px;
  font-size: 0.9em; /* Smaller font size */
  cursor: pointer;
  margin: 0 2px; /* Space between buttons */
}

.table-actions button:hover {
  background: #00DDFF;
}
